<%- include("../partials/template.ejs") %> 

<body class="d-flex flex-column vh-100 ">
  <%- include("../partials/navbar.ejs") %> 
    
<section class="container-fluid my-auto ">
    <section class="row ">
  <section id="comments" class="col-4 offset-4 my-auto py-4 bg-dark bg-gradient">
    <h1 class="text-light text-center mb-3">Add  feedback</h1>
 <form action="/home/<%= id %>/comment" method="POST" novalidate class="req_validation ">
       
  
 

<label for="customRange2 mt-2" class="form-range"><span class="fs-5 " style="color:white; font-weight: bold;">RATING</span></label>
<input type="range" class="form-range mb-3"  min="0" max="5" id="customRange2" name="comment[rating]" required>

<label class="form-label mt-2" for="response"><span class="fs-5 " style="color:white; font-weight: bold;">RESPONSE</span></label>
<textarea class="form-control border border-dark bg-secondary mb-3 text-light fs-5" rows="4" cols="30" id="response" name="comment[response]" required></textarea>
<div class="btn-group mt-2">
  <button type="submit " class="btn btn-lg btn-primary ">commit</button>
  <button type="button" class="btn btn-lg btn-success ms-2 "><a href="/home/<%= id %> " style="text-decoration: none; color: white;">back</a></button> 
</div>

      </form>
      
    
    </section>
  </section>
  </section>
  
<script src="../javascript/validationForm.js"></script>

  <%- include("../partials/footer.ejs") %> 